.todo-container {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
}

.todo-container.urgent {
    background-color: #F5A4A4;
}

.todo-container.todo-container.urgent .todo-title {
    background-color: #D85B5B;
}

.todo-container.moderate {
    background-color: #F5DFA4;
}

.todo-container.todo-container.moderate .todo-title {
    background-color: #D8A65B;
}

.todo-container.light {
    background-color: #A4F5CE;
}

.todo-container.todo-container.light .todo-title {
    background-color: #5BD86F;
}

.todo-container .todo-title {
    height: 100%;
    width: 15rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: #FFF;
    font-weight: 600;
}

.todo-container .todo-desc {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}